video {
  position: relative;
  height: auto;
  width: 100%;
}

.video-h1-center {
font-size: 140px;
font-weight: 900;
position: absolute;
top:20%;
left: 33%;
color: white;
}

.video-h2-center {
	font-size: 70px;
	font-weight: 500;
	position: absolute;
	top:40%;
	left: 32%;
	color: white;
	}
	.video-h3-center {
		width: 900px;
		text-align: center;
		font-size: 40px;
		font-weight: 300;
		position: absolute;
		top:52%;
		left: 28%;
		color: white;
		}
		
		.card:hover .aboutProject {
			color: #0d6efd;
			transition: 0.4s;
		}
		